src/main/mule/aws-poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:aws-secrets-manager-properties-override="http://www.mulesoft.org/schema/mule/aws-secrets-manager-properties-override"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/aws-secrets-manager-properties-override http://www.mulesoft.org/schema/mule/aws-secrets-manager-properties-override/current/mule-aws-secrets-manager-properties-override.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	 
	
	<aws-secrets-manager-properties-override:config name="AWS_Secrets_Manager_Properties_Override_Config" doc:name="AWS Secrets Manager Properties Override Config" doc:id="e0920ac2-7a6d-4a47-82d8-e95f7bd9cfa8" >
		<aws-secrets-manager-properties-override:basic-connection region="${aws.region}" accessKey="${secure::aws.credentials.accessKey}" secretKey="${secure::aws.credentials.secretKey}" />
		<aws-secrets-manager-properties-override:role-connection roleARN="${aws.role.arn}" />
	</aws-secrets-manager-properties-override:config>
	<!-- <salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="ef867f12-1347-47f1-a59c-f03100a856a0">
    	<salesforce:oauth-user-pass-connection consumerKey="3MVG9rZjd7MXFdLhE7ZdJYNBQkzGIsyHN1kol7yae1QFLswdnemrr.6vdtYKgU9BxFaXBEBDjKL77twEAJccJ" consumerSecret="F46566C647D05646290994B09D3C7A97C0EB438D3EE2F4B72B93535DC4795638" username="varsha.narla915@agentforce.com" password="Padmavathi@24nWNBQ2MGDlNGFo8oOF01C5uD" tokenEndpoint="https://test.salesforce.com/services/oauth2/token" securityToken="nWNBQ2MGDlNGFo8oOF01C5uD" />
    </salesforce:sfdc-config> -->
	<flow name="aws-secrets-retrieval-flow" doc:id="b8e533d8-7818-4774-a689-8f04ad07d359" >
		<scheduler doc:name="AWS Secrets Scheduler" doc:id="93382581-45a1-44f7-b27a-db1cc564aaac" >
			<scheduling-strategy >
				<fixed-frequency frequency="${scheduler.frequency}" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Start Logger" doc:id="e66b9ef3-784c-4624-afaa-2cebfa9a35e2" message='#["Starting AWS Secrets retrieval flow"]'/>
		<set-variable value="${aws.secrets.firstSecret}" doc:name="Set Secret Variable" doc:id="fd8943cb-53ef-4cf2-9ec6-bd18a669f4e5" variableName="key"/>
		<ee:transform doc:name="Transform AWS Secret" doc:id="81f66b3a-e79f-495f-a289-9715c43bff55">
			<ee:message>
				<ee:set-payload resource="dwl/transform-aws-secret.dwl" />
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Result Logger" doc:id="219d9269-4843-416f-9495-f8c94e80b855" message="#['Retrieved AWS Secret Key: ' ++ payload.s3Key]"/>
	</flow>
</mule>
